<?xml version="1.0" encoding="UTF-8"?>

<suite name="DataDrivenSuite">

  <listeners>
        <listener class-name="listener.MyListeners"/>
    </listeners>
    
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.Logout"/>
      <class name="tests.Login"/>
      <class name="tests.Register2"/>
      <class name="tests.Search"/>
      <class name="tests.Register"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- DataDrivenSuite -->
